<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-row">
    <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cpf %><br>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :address %><br>
    <%= form.text_field :address %>
  </div>
</div>


<div class="form-row">
    <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :number_phone %><br>
    <%= form.text_field :number_phone %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %><br>
    <%= form.date_select :date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :sex %><br>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :store %><br>
    <%= form.text_field :store %>
  </div>

  <div class="field">
    <%= form.label :department %><br>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label :function %><br>
    <%= form.text_field :function %>
  </div>

</div>

<div class="form-row">
    <div class="form-group col-md-6">
  <div class="field">
    <%= form.label :salary %><br>
    <%= form.text_field :salary %>
  </div>

  <div class="field">
    <%= form.label :admission %><br>
    <%= form.date_select :admission %>
  </div>

  <div class="field">
    <%= form.label :resignation %><br>
    <%= form.date_select :resignation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
